body {
  max-width: 375px;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
}

.chatbox-container {
  max-width: 375px;
  margin: auto;
  padding: auto;
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  background: #a5c7f9;
  pad: 0px;
  position: sticky;
  top: 0;
}

header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

main {
  background: url(../img/fond-ecran.jpg);
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Yuna {
  background: #f9d9a5;
  border-radius: 15px 15px 0 15px;
  margin: 0 10px 10px 120px;
  padding: 5px 5px 5px 5px;

}

p .Yuna {
  text-align: center;
}

.Dorian {
  background: #aba5f9;
  border-radius: 15px 15px 15px 0;
  margin: 0 120px 10px 20px;
  padding: 5px 20px;
}

.grande-bulle {
  margin: 5px 10px 5px;
  padding: 5px 5px 5px 5px;
}

.moyen-bulle {
  margin: 0 10px 10px 70px;
  padding: 5px 5px 5px 5px;
}

.petite-bulle {
  margin: 0 10px 10px 100px;
  padding: 5px 5px 5px 5px;
}

footer {
  background: #a5c7f9;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  position: sticky;
  bottom: 1px;
}

footer img {
  max-width: 9%;
  padding-right: 1px;
}