body {
  max-width: 320px;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
}
 
.chatbox-container {
  max-width: 320px;
  margin: auto;
  padding: auto;
  font-family: 'IBM Plex Sans', sans-serif; 
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  background: pink;
  pad: 0px;
  position: sticky;
  top: 0;
}
header img{
  width: 60px; 
  height: 60px;
  border-radius: 50%;
}
main div p {
  padding: 5px;
  margin: 1px;
}

main {
  background:url(../img/wallpaper.jpg);
  padding-bottom: 10px;
  padding-top: 10px;
}

.Yuna {
  background:pink;
  border-radius: 15px 15px 0 15px;
  margin: 0 10px 30px 90px; 
  padding:10px 5px; 
}

.Dorian {
  background: #b88dc9;
  border-radius: 15px 15px 15px 0;
  margin: 0px 90px 30px 10px;
  padding: 10px 20px;
} 

footer {
  background: pink;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  position: sticky;
  bottom: 1px;
}

footer img{
 max-width: 7%;
 padding-right: 1px;
}